::-webkit-scrollbar{
    display: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}

.cardWrapper{
    width: 700px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    margin-top: 30px;
    position: relative;
}
.cardWrapper span{
    position: absolute;
    right: -10px;
    top: -10px;
    width: 20px;
    height: 20px;
    background-color: cornflowerblue;
    text-align: center;
    display: block;
    padding: 5px ;
    cursor: pointer;
    border-radius: 5px;
}
.cardWrapper div{
    margin-bottom: 10px;
}



.mainContainer h1{
    text-align: center;
}

.btn{
    border-radius: 5px;
    border: none;
    color: white;
    background-color: tomato;
    padding: 8px 12px;
    display: block;
    margin:auto;
    font-size: 22px;
    cursor: pointer;
}

.hide{
    display: none;
}

.input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    display: block;
    margin: auto;
    margin-top: 20px;
    font-size: 22px;
    padding-inline-end: 20px;
}
.input:focus{
    outline: none;
}
